{% extends 'base.html' %}
{% load static %}
{% block main-content %}
<div class="community-detail-container">
    <div class="community-detail-header">
        <div class="community-detail-header-main-components">
            <h1 class="community-detail-community-name">{{ object.name }}</h1>
            {% if current_community in is_joined %}
            <a class="community-detail-leave-community-button" href="{% url 'communities:leave' object.pk %}">Leave</a>
            {% else %}
            <a class="community-detail-join-community-button" href="{% url 'communities:join' object.pk %}">Join</a>
            {% endif %}
        </div>
        <h2 class="community-detail-community-name-heading-2">r/{{ object.name }}</h2>
    </div>
    <div class="community-detail-main-content">
        <div class="news-posts-all-list">
            {% for post in communitypost_list %}
            <div class="news-posts-news-detail-box">
                <div class="news-posts-news-detail-box-left-menu">
                    <a href="{% url 'news_posts:vote_up' post.id %}" onclick='return confirm("You can only vote once");'>
                        <i class="fas fa-arrow-up" style="width: 20px; height: 20px; margin-top: 2px; display: block; margin: auto;"></i>
                    </a>
                    <p class="vote-count">{{ post.vote }}</p>
                    <a href="{% url 'news_posts:vote_down' post.id %}" onclick='return confirm("You can only vote once");'>
                        <i class="fas fa-arrow-down" style="width: 20px; height: 20px; margin-top: 2px; display: block; margin: auto;"></i>
                    </a>
                </div>
                <div class="news-posts-news-detail-box-center-menu">
                    <div class="posted-by-user-of-info-container">
                        <img class="posted-of-user-thumbnail" src="{% if post.user.thumbnail %}{{ post.user.thumbnail.url }}{% else %}{% static 'img/reddit_default_user_icon.jpeg' %}{% endif %}" alt="icon" />
                        <li class="posted-by-community-name-list">
                            {% if post.community is None %}
                            <a href="{% url 'users:detail' post.user.id %}">{{ post.user }}</a>
                            <span class="posted-by-user-name-span">{{ post.created_at|timesince }}</span>
                            {% else %}
                            <a href="{% url 'communities:detail' post.community.id %}">r/{{ post.community }}</a>
                            <a href="{% url 'users:detail' post.user.id %}"><span class="posted-by-user-name-span">Posted By {{ post.user }} {{ post.created_at|date:'n/j H:i' }}</span></a>
                            {% endif %}
                        </li>
                    </div>
                    <a href="{% url 'news_posts:post_detail' post.id %}"><li class="posted-title-string-list">{{ post.title }}</li></a>
                    <li class="posted-content-string-list">{{ post.content|linebreaksbr|urlize }}</li>
                    {% if post.post_photo %}
                    <div class="posted-news-uploaded-photo-wrapper">
                        <img class="posted-news-uploaded-photo" src="{{ post.post_photo.url }}" alt="photo">
                    </div>
                    {% endif %}
                    <ul class="posted-post-control-button-list">
                        <a class="posted-post-comment-button" href="{% url 'news_posts:create_comment' post.pk %}">
                            <li class="posted-post-control-button">
                                <i class="far fa-comment-alt" style="height: 20px; width: 20px;"></i>
                                <lable class="posted-post-control-button-label">Comments</label>
                            </li>
                        </a>
                        {% if post.user.id == user.id %}
                        <form class="posted-news-delete-form" method="POST" action="{% url 'news_posts:delete_post' post.pk %}">
                            {% csrf_token %}
                            <button class="posted-news-delete-button" type="submit" onclick='return confirm("Are you sure you want to delete your post? You cant undo this.");'>
                                <li class="posted-post-control-button">
                                    <i class="far fa-trash-alt" style="height: 20px; width: 20px;"></i>
                                    <lable class="posted-post-control-button-label">Delete</label>
                                </li>
                            </button>
                        </form>
                        {% elif current_community.admin.id == request.user.id %}
                        <form class="posted-news-delete-form" method="POST" action="{% url 'news_posts:delete_post' post.pk %}">
                            {% csrf_token %}
                            <button class="posted-news-delete-button" type="submit" onclick='return confirm("Are you sure you want to delete your post? You cant undo this.");'>
                                <li class="posted-post-control-button">
                                    <i class="far fa-trash-alt" style="height: 20px; width: 20px;"></i>
                                    <lable class="posted-post-control-button-label">Delete</label>
                                </li>
                            </button>
                        </form>
                        {% else %}
                        <li class="posted-post-control-button">
                            <i class="fas fa-gift" style="height: 20px; width: 20px;"></i>
                            <lable class="posted-post-control-button-label">Award</label>
                        </li>
                        {% endif %}
                        <a href="https://twitter.com/share?url={{ request.scheme }}://{{ request.get_host }}{% url 'news_posts:post_detail' post.id %}" target="_blank" rel="nofollow"">
                            <li class="posted-post-control-button">
                                <i class="fas fa-share" style="height: 20px; width: 20px;"></i>
                                <lable class="posted-post-control-button-label">Share</label>
                            </li>
                        </a>
                        {% if post in saved_posts %}
                        <a href="{% url 'news_posts:unsave' post.id %}">
                            <li class="posted-post-control-button">
                                <i class="fas fa-bookmark" style="height: 20px; width: 20px;"></i>
                                <lable class="posted-post-control-button-label">UnSave</label>
                            </li>
                        </a>
                        {% else %}
                        <a href="{% url 'news_posts:save' post.id %}">
                            <li class="posted-post-control-button">
                                <i class="far fa-bookmark" style="height: 20px; width: 20px;"></i>
                                <lable class="posted-post-control-button-label">Save</label>
                            </li>
                        </a>
                        {% endif %}
                        {% if post.user.id == user.id %}
                        <a href="{% url 'news_posts:edit' post.id %}">
                            <li class="posted-post-control-button">
                                <i class="fas fa-pen" style="height: 20px; width: 20px;"></i>
                                <lable class="posted-post-control-button-label">Edit Post</label>
                            </li>
                        </a>
                        {% elif current_community.admin.id == request.user.id %}
                        <a href="{% url 'news_posts:edit' post.id %}">
                            <li class="posted-post-control-button">
                                <i class="fas fa-pen" style="height: 20px; width: 20px;"></i>
                                <lable class="posted-post-control-button-label">Edit Post</label>
                            </li>
                        </a>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="community-detail-right-menu">
            <div class="community-detail-community-about">
                <div class="community-detail-community-about-header">
                    <h2 class="community-detail-community-about-title">About Community</h2>
                </div>
                <div class="community-detail-community-about-main-conntent">
                    <div class="community-detail-community-about-main-content-community-active-info">
                        <div class="community-detail-community-about-main-content-community-member-info-box">
                            <p class="community-detail-community-about-main-content-community-info-count">{{ member_count }}</p>
                            <p class="community-detail-community-about-main-content-community-name-of-info" title="{{ member_count }} Members">Members</p>
                        </div>
                        <div class="community-detail-community-about-main-content-community-post-info-box">
                            <p class="community-detail-community-about-main-content-community-info-count">{{ communitypost_list|length }}</p>
                            <p class="community-detail-community-about-main-content-community-name-of-info" title="{{ communitypost_list|length }} Posts">Posts</p>
                        </div>
                    </div>
                    <p class="community-detail-community-about-main-content-created">created {{ object.created_at|date:"M d, Y" }}</p>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}