{% extends 'base.html' %}
{% load static %}
{% block main-content %}
<div class="create-community-container">
    <div class="create-community-title-container">
        <h1 class="create-community-title">Create a community</h1>
    </div>
    <form class="create-community-form" method="POST">
        {% csrf_token %}
        <p class="create-community-subtitle">Name</p>
        <p class="create-community-name-warning-txt">Community names including capitalization cannot be changed.</p>
        {{ form.name }}
        <p class="create-community-name-character-limit">21 Characters remaining</p>
        <p class="create-community-subtitle">Community type</p>
        {% for community_type_radio in form.community_type %}
        <label for="" class="community-type-select-label">
            {{ community_type_radio.tag }}
            <span class="community-type-typename">{{ community_type_radio.choice_label }}</span>
        </label>
        {% endfor %}
        <p class="create-community-subtitle">Adult content</p>
        <label class="create-community-is-nsfw-check-container" for="">
            {{ form.is_nsfw }}
            <span class="community-is-nsfw-check-text">18+ year old community</span>
        </label>
        <div class="create-community-display-control-container">
            <a href="{% url 'news_posts:index' %}" class="create-Cancel-button">Cancel</a>
            <a href="{% url 'news_posts:index' %}" class="create-community-Decision-button"><button type="submit" >Create Community</button></a>
        </div>
    </form>

</div>
{% endblock %}
