.community-type-select-radio-button {
    width: 20px;
    height: 20px;
    border: solid 2px #7c7c7c;
    border-radius: 50%;
    box-sizing: border-box;
}
.create-community-container{
    border: solid 2px black;
    padding-bottom: 50px;
    margin-top: 20px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}
.create-community-big-container{
    padding: 0px 20% 0 20%;
}
.community-type-select-radio-button:hover{
    border: solid 3px #0079D3;

}
.community-type-select-radio-button:checked{
    background-color: #0079D3;
    border: solid 3px #7c7c7c;
}
.community-type-select-label {
    display: block;
}
.create-community-form{
    margin-left: 20%;
    margin-right:20%;
}
.create-community-title {
    display: block;
    font-size: 50px;
    text-align: center;


}
.create-community-subtitle {
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.create-community-title-container{
    padding: 20px;
    border-bottom: solid 2px #7c7c7c;
}
.create-community-name-warning-txt {
    color: #7c7c7c;
    font-size: 20px;
}
.community-name-input-textarea {
    border: solid 2px #7c7c7c;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    width: 500px;
}

.community-type-typename {
    font-size: 20px;
}

.create-community-name-character-limit {
    font-size: 20px;
    color: #7c7c7c;
}
.community-is-nsfw-check {
    width: 20px;
    height: 20px;
    border: solid 2px #7c7c7c;
    border-radius: 5px;

}
.community-is-nsfw-check:hover{
    border: solid 4px #0079D3;

}
.community-is-nsfw-check:checked{
    background-color: #0079D3;
    border: solid 4px #7c7c7c;
}
.community-is-nsfw-check-text {
    font-size: 15px;
}

.create-community-display-control-container {
    display: flex;
    margin-top: 30px;
}
.create-Cancel-button {
    margin-right: 20px;
    border: 1px solid #0079D3;
    border-radius: 9999px;
    display: block;
    height: 30px;
    width: 50%;
    padding-left: 17.2%;
    font-weight: bold;
    color: #0079D3;
}

.create-community-Decision-button {
    margin-right: 20px;
    background-color: #0079D3;
    border-radius: 9999px;
    display: block;
    height: 30px;
    width: 50%;
    padding-left: 7%;
    font-weight: bold;
    color: #FFFFFF;
}
.create-Cancel-button:hover {
    opacity: 0.7;
}

.create-community-Decision-button:hover {
    opacity: 0.7;
}
.community-type-description {
    margin-left: 5px;
    color: #7c7c7c;
    font-size: 10px;
}
.community-type-radio-item-name{
    margin-left: 10px;
    font-size: 15px;
}