.create-post-title-container{
    margin-top: 50px;
    border-bottom: solid 3px #dae0e6;
    padding-bottom: 20px;
    width: 65%;
}

.post-title-input-textarea {
    border: solid 2px black;
    display: block;
    margin-bottom: 10px;
}
.post-content-input-textarea {
    border: solid 2px black;
}
.create-post-container{
    border: solid 2px black;
    padding-bottom: 50px;
    width: 65%;
    margin-top: 50px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
    background-color: #ffffff;
}
.create-post-big-container{
    padding: 0px 7% 0 7%;
}
.create-post-display-control-container {
    display: flex;
    margin-top: 30px;
}

.create-post-submit-post-button {
    margin-left: 300px;
    background-color: #0079D3;
    border-radius: 9999px;
    display: block;
    height: 30px;
    width: 20%;
    padding-left: 5%;
    font-weight: bold;
    color: #FFFFFF;
}
.create-post-submit-post-button:hover {
    opacity: 0.7;
}