.news-posts-news-detail-expansion-box{
    border: solid #cccccc 2px;
    margin-top: 20px;
    min-height: 500px;
    border-radius: 4px;
    padding: 5px 5px 5px 0;
    display: flex;
    background-color: #fff;
    width: 63%;
}
.user-select-post-detail-expansion {
    padding-left: 10%;
    padding-right: 10%;
}
.posted-title-string-list-expansion {
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}
.comment-detail-box {
    margin-left: 20px;
    border-top: #d2d2d2 solid 1px;
    border-bottom: #d2d2d2 solid 1px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.comment-list-parent {
    margin-bottom: 10px;
}
.comment-background-container {
    margin-top: 20px;
}