{% extends 'base.html' %}
{% load static %}
{% block main-content %}
<div class="create-post-big-container">
    <div class="create-post-container">
        <div class="create-post-title-container">
            <h1 class="create-post-title">Create a post</h1>
        </div>
        <form class="create-post-form" method="POST">
            {% csrf_token %}
            {{ form.title }}
            {{ form.content }}
            <div class="create-post-display-control-container">
                <a href="" class="create-post-submit-post-button"><button type="submit" >Post</button></a>
            </div>
        </form>
    </div>
</div>

{% endblock %}
{% block model %}
{% endblock %}