{% extends 'base.html' %}
{% load static %}
{% block main-content %}
<div class="user-select-post-detail-expansion">
    <div class="news-posts-news-detail-expansion-box">
        <div class="news-posts-news-detail-box-left-menu">
            <a href="{% url 'news_posts:vote_up' object.id %}" onclick='return confirm("You can only vote once");'>
                <i class="fas fa-arrow-up" style="width: 20px; height: 20px; margin-top: 2px; display: block; margin: auto;"></i>
            </a>
            <p class="vote-count">{{ object.vote }}</p>
            <a href="{% url 'news_posts:vote_down' object.id %}" onclick='return confirm("You can only vote once");'>
                <i class="fas fa-arrow-down" style="width: 20px; height: 20px; margin-top: 2px; display: block; margin: auto;"></i>
            </a>
        </div>
        <div class="news-posts-news-detail-box-center-menu">
            <div class="posted-by-user-of-info-container">
                <img class="posted-of-user-thumbnail" src="{% if object.user.thumbnail %}{{ object.user.thumbnail.url }}{% else %}{% static 'img/reddit_default_user_icon.png' %}{% endif %}" alt="icon" />
                <li class="posted-by-community-name-list">
                    {% if object.community is None %}
                    <a href="{% url 'users:detail' object.user.id %}">{{ object.user }}</a>
                    <span class="posted-by-user-name-span">{{ object.created_at|timesince }}</span>
                    {% else %}
                    r/{{ object.community }}
                    <a href="{% url 'users:detail' object.user.id %}"><span class="posted-by-user-name-span">Posted By {{ object.user }} {{ object.created_at|date:'n/j H:i' }}</span></a>
                    {% endif %}
                </li>
            </div>
            <li class="posted-title-string-list-expansion">{{ object.title }}</li>
            <li class="posted-content-string-list">{{ object.content|linebreaksbr|urlize }}</li>
            {% if object.post_photo %}
            <div class="posted-news-uploaded-photo-wrapper-for-post-detail">
                <img class="posted-news-uploaded-photo" src="{{ object.post_photo.url }}" alt="photo">
            </div>
            {% endif %}
            <ul class="posted-post-control-button-list">
                <a class="posted-post-comment-button" href="{% url 'news_posts:create_comment' object.pk %}">
                    <li class="posted-post-control-button">
                        <i class="far fa-comment-alt" style="height: 20px; width: 20px;"></i>
                        <lable class="posted-post-control-button-label">Comments</label>
                    </li>
                </a>
                {% if object.user.id == user.id %}
                <form class="posted-news-delete-form" method="POST" action="{% url 'news_posts:delete_post' object.id %}">
                    {% csrf_token %}
                    <button class="posted-news-delete-button" type="submit" onclick='return confirm("Are you sure you want to delete your post? You cant undo this.");'>
                        <li class="posted-post-control-button">
                            <i class="far fa-trash-alt" style="height: 20px; width: 20px;"></i>
                            <lable class="posted-post-control-button-label">Delete</label>
                        </li>
                    </button>
                </form>
                {% else %}
                <li class="posted-post-control-button">
                    <i class="fas fa-gift" style="height: 20px; width: 20px;"></i>
                    <lable class="posted-post-control-button-label">Award</label>
                </li>
                {% endif %}
                <a href="">
                    <li class="posted-post-control-button">
                        <i class="fas fa-share" style="height: 20px; width: 20px;"></i>
                        <lable class="posted-post-control-button-label">Share</label>
                    </li>
                </a>
                {% if object in saved_posts %}
                <a href="{% url 'news_posts:unsave' object.id %}">
                    <li class="posted-post-control-button">
                        <i class="fas fa-bookmark" style="height: 20px; width: 20px;"></i>
                        <lable class="posted-post-control-button-label">UnSave</label>
                    </li>
                </a>
                {% else %}
                <a href="{% url 'news_posts:save' object.id %}">
                    <li class="posted-post-control-button">
                        <i class="far fa-bookmark" style="height: 20px; width: 20px;"></i>
                        <lable class="posted-post-control-button-label">Save</label>
                    </li>
                </a>
                {% endif %}
                {% if object.user.id == user.id %}
                <li class="posted-post-control-button">
                    <a href="{% url 'news_posts:edit' object.id %}">
                        <i class="fas fa-pen" style="height: 20px; width: 20px;"></i>
                        <lable class="posted-post-control-button-label">Edit Post</label>
                    </a>
                </li>
                {% endif %}
            </ul>
            <div class="comment-background-container">
                {% for comment in comment_list %}
                <div class="comment-detail-box">
                    <div class="posted-by-user-of-info-container">
                        <img class="posted-of-user-thumbnail" src="{% if comment.user.thumbnail %}{{ comment.user.thumbnail.url }}{% else %}{% static 'img/reddit_default_user_icon.png' %}{% endif %}" alt="icon" />
                        <li class="posted-by-community-name-list"><a href="{% url 'users:detail' comment.user.id %}">{{ comment.user }}</a> <span class="posted-by-user-name-span">{{ comment.created_at|date:'n/j H:i' }}</span></li>
                    </div>
                    <ul class="comment-list-parent">
                        <li class="comment-list-child">{{ comment.content|linebreaksbr|urlize }}</li>
                    </ul>
                    <ul class="posted-post-control-button-list">
                        <a class="posted-post-comment-button" href="{% comment %}{% url 'news_posts:create_replay' comment.pk %}{% endcomment %}">
                            <li class="posted-post-control-button">
                                <i class="far fa-comment-alt" style="height: 20px; width: 20px;"></i>
                                <lable class="posted-post-control-button-label">Replay</label>
                            </li>
                        </a>
                        {% if comment.user.id == user.id %}
                        <form class="posted-news-delete-form" method="POST" action="{% url 'news_posts:delete_comment' comment.id %}">
                            {% csrf_token %}
                            <button class="posted-news-delete-button" type="submit" onclick='return confirm("Are you sure you want to delete your post? You cant undo this.");'>
                                <li class="posted-post-control-button">
                                    <i class="far fa-trash-alt" style="height: 20px; width: 20px;"></i>
                                    <lable class="posted-post-control-button-label">Delete</label>
                                </li>
                            </button>
                        </form>
                        {% else %}
                        <li class="posted-post-control-button">
                            <i class="fas fa-gift" style="height: 20px; width: 20px;"></i>
                            <lable class="posted-post-control-button-label">Award</label>
                        </li>
                        {% endif %}
                        <a href="">
                            <li class="posted-post-control-button">
                                <i class="fas fa-share" style="height: 20px; width: 20px;"></i>
                                <lable class="posted-post-control-button-label">Share</label>
                            </li>
                        </a>
                        <a href="">
                            <li class="posted-post-control-button">
                                <i class="far fa-bookmark" style="height: 20px; width: 20px;"></i>
                                <lable class="posted-post-control-button-label">Save</label>
                            </li>
                        </a>
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if object.community is None %}
    <div class="profile-detail-container-for-profile-detail-html">
        <div class="profile-all-image-container">
            <img class="profile-header-img" src="{% if object.user.header %}{{ object.user.header.url }}{% else %}{% static 'img/default_user_header.png' %}{% endif %}" alt="header" />
            <div class="profile-thumbnail-icon-wrapper">
                <img class="profile-thumbnail-icon-img" src="{% if object.user.thumbnail %}{{ object.user.thumbnail.url }}{% else %}{% static 'img/reddit_default_user_icon.png' %}{% endif %}" alt="icon" />
            </div>
        </div>
        <div class="profile-username-and-config-button-container">
            <div class="profile-detail-user-name-box"><p class="profile-detail-user-name">{{ object.user }}</p></div>
            {% if object.user == request.user %}
            <a href="{% url 'users:edit' %}"><i class="fas fa-cog" style="margin-top: 10px;"></i></a>
            {% endif %}
        </div>
        <div class="profile-detail-user-about-container">
            <p class="profile-detail-user-about">{% if object.user.about %}{{ object.user.about }}{% else %}My name is {{ object.user }}{% endif %}</p>
        </div>
    </div>
    {% else %}
    <div class="profile-community-detail-container-for-profile-detail-html">
        <div class="profile-username-and-config-button-container">
            <div class="profile-detail-community-name-box"><p class="profile-detail-community-name">{{ object.community }}</p></div>
        </div>
        <div class="community-detail-community-about-main-content-community-active-info">
            <div class="community-detail-community-about-main-content-community-member-info-box">
                <p class="community-detail-community-about-main-content-community-info-count">{{ member_count }}</p>
                <p class="community-detail-community-about-main-content-community-name-of-info" title="{{ member_count }} Members">Members</p>
            </div>
            <div class="community-detail-community-about-main-content-community-post-info-box">
                <p class="community-detail-community-about-main-content-community-info-count">{{ community_post_count }}</p>
                <p class="community-detail-community-about-main-content-community-name-of-info" title="{{ community_post_count }} Posts">Posts</p>
            </div>
        </div>
        <p class="community-detail-community-about-main-content-created">created {{ object.created_at|date:"M d, Y" }}</p>
    </div>
    {% endif %}
</div>

{% endblock %}