{% extends 'base.html' %}
{% load static %}
{% block main-content %}
<div class="chat-home-background-container">
    <div class="chat-home-left-menu">
        <div class="chat-home-left-menu-heading-container">
            <h2 class="chat-home-left-menu-heading">チャット</h2>
            <div class="add-dm-room-button-wrapper">
                <a href="{% url 'chat:home' %}"><i class="fas fa-comment-medical" style="width: 25px; height: 25px;"></i></a>
            </div>
        </div>
        <div class="chat-select-chat-type-row">
            <ul class="chat-type-list">
                <a href="{% url 'chat:home' %}"><li class="chat-type-list-element">全て</li></a>
                <a href="{% url 'chat:dm_home' %}"><li class="chat-type-list-displaying-element">ダイレクトメッセージ</li></a>
                <a href=""><li class="chat-type-list-element">グループ</li></a>
            </ul>
        </div>
        {% if dm_invites %}
        <h3 class="chat-home-chat-status-heading">招待一覧</h3>
        {% for dm_invite in dm_invites %}
        <div class="chat-dm-addressee-list">
            <a href="{% url 'chat:dm_room_detail' dm_invite.room.id %}">
                <div class="chat-dm-addressee-detail-box">
                    <img class="chat-dm-addressee-thumbnail" src="{% if dm_invite.invited_user.thumbnail %}{{ dm_invite.invited_user.thumbnail.url }}{% else %}{% static 'img/reddit_default_user_icon.jpeg' %}{% endif %}" alt="icon">
                    <p class="chat-dm-addressee-username">{{ dm_invite.invited_user }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
        {% endif %}
        {% if dm_invites and dm_rooms %}
        <h3 class="chat-home-chat-status-heading">チャット一覧</h3>
        {% endif %}
        {% for dm_room in dm_rooms %}
        <div class="chat-dm-addressee-list">
            <a href="{% url 'chat:dm_room_detail' dm_room.id %}">
                <div class="chat-dm-addressee-detail-box">
                    <img class="chat-dm-addressee-thumbnail" src="{% if dm_room.addressee.thumbnail %}{{ dm_room.addressee.thumbnail.url }}{% else %}{% static 'img/reddit_default_user_icon.jpeg' %}{% endif %}" alt="icon">
                    <p class="chat-dm-addressee-username">{{ dm_room.addressee }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="chat-home-main-container">
        <form class="chat-home-main-container-search-user-form" action="{% url 'chat:search_user' %}" method="GET">
            <h2 class="chat-home-main-container-heading">新しいチャット</h2>
            <h3 class="chat-home-main-container-sub-heading">検索</h3>
            <div class="chat-home-search-user-container">
                <div class="chat-home-search-user-input-box">
                    <label class="chat-home-search-user-laber" for="search_user_bar">
                        <i class="fas fa-search" style="margin-left: 8px; height: 16px; width: 16px; opacity: 0.3;"></i>
                    </label>
                    <input class="chat-home-search-user-input-username-row" id="search_user_bar" name="q" type="text" placeholder="ユーザーネームを入力してください。">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}