{% extends 'base.html' %}
{% load static %}
{% block main-content %}
<div class="chat-home-background-container">
    <div class="chat-home-left-menu">
        <div class="chat-home-left-menu-heading-container">
            <h2 class="chat-home-left-menu-heading">Chat</h2>
            <div class="add-dm-room-button-wrapper">
                <a href="{% url 'chat:home' %}"><i class="fas fa-comment-medical" style="width: 25px; height: 25px;"></i></a>
            </div>
        </div>
        <div class="chat-select-chat-type-row">
            <ul class="chat-type-list">
                <a href="{% url 'chat:home' %}"><li class="chat-type-list-element">All</li></a>
                <a href="{% url 'chat:dm_home' %}"><li class="chat-type-list-displaying-element">DMs</li></a>
                <a href=""><li class="chat-type-list-element">Group</li></a>
            </ul>
        </div>
        {% if dm_invites %}
        <h3 class="chat-home-chat-status-heading">Invites</h3>
        {% for dm_invite in dm_invites %}
        {% if current_room.id == dm_invite.room.id %}
        <div class="chat-dm-addressee-list">
            <a href="{% url 'chat:dm_room_detail' dm_invite.room.id %}">
                <div class="chat-dm-displaying-addressee-detail-box">
                    <img class="chat-dm-addressee-thumbnail" src="{% if dm_invite.invited_user.thumbnail %}{{ dm_invite.invited_user.thumbnail.url }}{% else %}{% static 'img/reddit_default_user_icon.jpeg' %}{% endif %}" alt="icon">
                    <p class="chat-dm-addressee-username">{{ dm_invite.invited_user }}</p>
                </div>
            </a>
        </div>
        {% else %}
        <div class="chat-dm-addressee-list">
            <a href="{% url 'chat:dm_room_detail' dm_invite.room.id %}">
                <div class="chat-dm-addressee-detail-box">
                    <img class="chat-dm-addressee-thumbnail" src="{% if dm_invite.invited_user.thumbnail %}{{ dm_invite.invited_user.thumbnail.url }}{% else %}{% static 'img/reddit_default_user_icon.jpeg' %}{% endif %}" alt="icon">
                    <p class="chat-dm-addressee-username">{{ dm_invite.invited_user }}</p>
                </div>
            </a>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% if dm_invites and dm_rooms %}
        <h3 class="chat-home-chat-status-heading">Chats</h3>
        {% endif %}
        {% for dm_room in dm_rooms %}
        {% if current_room.id == dm_room.id %}
        <div class="chat-dm-addressee-list">
            <a href="{% url 'chat:dm_room_detail' dm_room.id %}">
                <div class="chat-dm-displaying-addressee-detail-box">
                    <img class="chat-dm-addressee-thumbnail" src="{% if dm_room.addressee.thumbnail %}{{ dm_room.addressee.thumbnail.url }}{% else %}{% static 'img/reddit_default_user_icon.jpeg' %}{% endif %}" alt="icon">
                    <p class="chat-dm-addressee-username">{{ dm_room.addressee }}</p>
                </div>
            </a>
        </div>
        {% elif current_room.author.id == dm_room.addressee.id and current_room.addressee.id == dm_room.author.id %}
        <div class="chat-dm-addressee-list">
            <a href="{% url 'chat:dm_room_detail' dm_room.id %}">
                <div class="chat-dm-displaying-addressee-detail-box">
                    <img class="chat-dm-addressee-thumbnail" src="{% if dm_room.addressee.thumbnail %}{{ dm_room.addressee.thumbnail.url }}{% else %}{% static 'img/reddit_default_user_icon.jpeg' %}{% endif %}" alt="icon">
                    <p class="chat-dm-addressee-username">{{ dm_room.addressee }}</p>
                </div>
            </a>
        </div>
        {% else %}
        <div class="chat-dm-addressee-list">
            <a href="{% url 'chat:dm_room_detail' dm_room.id %}">
                <div class="chat-dm-addressee-detail-box">
                    <img class="chat-dm-addressee-thumbnail" src="{% if dm_room.addressee.thumbnail %}{{ dm_room.addressee.thumbnail.url }}{% else %}{% static 'img/reddit_default_user_icon.jpeg' %}{% endif %}" alt="icon">
                    <p class="chat-dm-addressee-username">{{ dm_room.addressee }}</p>
                </div>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="chat-home-main-container">
        <div class="dm-room-detail-background-container">
                <div class="dm-list-container" id="chat_list">
                    <div id="scroll-inner">
                        {% for message in dm_list %}
                        {% if message.sender.id == request.user.id %}
                        <div class="dm-detail-row">
                            <div class="dm-detail-box-sender" id="chat_template">
                                <div class="dm-message-content-box" title="{{ message.created_at|timesince }}">{{ message.content|linebreaksbr|urlize }}</div>
                                <img class="dm-message-sender-thumbnail" src="{% if message.sender.thumbnail %}{{ message.sender.thumbnail.url }}{% else %}{% static 'img/reddit_default_user_icon.jpeg' %}{% endif %}" alt="icon">
                            </div>
                        </div>
                        {% else %}
                        <div class="dm-detail-row">
                            <div class="dm-detail-box-addressee">
                                <img class="dm-message-addressee-thumbnail" src="{% if message.sender.thumbnail %}{{ message.sender.thumbnail.url }}{% else %}{% static 'img/reddit_default_user_icon.jpeg' %}{% endif %}" alt="icon">
                                <div class="dm-message-content-box addressee" title="{{ message.created_at|timesince }}">{{ message.content|linebreaksbr|urlize }}</div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% if current_invite %}
            <div class="dm-room-detail-footer-container">
                <p class="dm-room-detail-footer-text">Do you want to accept the invitation?</p>
                <a class="dm-room-invite-ignore-button" href="{% url 'chat:ignore_dm_invite' current_room.author.id %}">Ignore</a>
                <a class="dm-room-invite-accept-button" href="{% url 'chat:accept_dm_invite' current_room.author.id %}">Accept</a>
            </div>
            {% else %}
            <form class="dm-send-message-form-container" method="POST" action="{% url 'chat:create_dm' current_room.addressee.id %}"> <!-- 非同期の場合はdivタグを使っていた -->
                <!-- 同期の場合のhtml -->
                {% csrf_token %}
                <i class="fas fa-camera" style="height: 25px; width: 25px; margin-left: 10px; margin-right: 10px;"></i>
                <input maxlength="512" class="dm-send-message-text-input" placeholder="Message" type="text" name="content" required>
                <button type="submit" action="{% url 'chat:create_dm' current_room.addressee.id %}"><i class="fas fa-paper-plane" style="height: 25px; width: 25px; margin-left: 25px; margin-right: 10px; color: #0079d3;"></i></button>
                <!-- 非同期の場合のhtml -->
                <!-- <i class="fas fa-camera" style="height: 25px; width: 25px; margin-left: 10px; margin-right: 10px;"></i>
                <input type="text" class="dm-send-message-text-input" id="msg" placeholder="Message">
                <button id="send"><i class="fas fa-paper-plane" style="height: 25px; width: 25px; margin-left: 25px; margin-right: 10px; color: #0079d3;"></i></button> -->
            </form>
            {% endif %}
        </div>
    </div>
</div>
<script>
    let target = document.getElementById('scroll-inner');
    target.scrollIntoView(false);
</script>
{% endblock %}
<!-- 非同期処理のスクリプト(FIXME:エラーが出てしまってる) -->
<script>
    const url = 'ws://' + window.location.host + '/ws/{{room.id}}';
    const ws = new WebSocket(url);

    document.getElementById('msg').onkeydown = (e) => {
        if (((e.ctrlKey && !e.metaKey) || (!e.ctrlKey && e.metaKey)) && e.keyCode == 13) {
            document.getElementById('send').click();
            return false
        };
    }

    document.getElementById("send").onclick = function sendMessage() {
        const sendData = {
            message: document.getElementById('msg').value,
        }
        ws.send(JSON.stringify(sendData));
        document.getElementById('msg').value = '';
    }

    ws.onerror = e => {
        console.log(e);
    }

    ws.onmessage = e => {
        const receiveData = JSON.parse(e.data);

        const template = document.getElementById('chat_template');
        const clone = template.content.cloneNode(true);

        clone.querySelector('.card-title').textContent = receiveData.user;
        clone.querySelector('.dm-message-content-box').textContent = receiveData.message;
        document.getElementById('chat_list').appendChild(clone);
    }
</script>



