{% load static %}

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reddit</title>
        <link rel="stylesheet" href="{% static 'css/create_post.css' %}">
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
        <link rel="stylesheet" href="{% static 'css/create_community.css' %}">
        <link rel="stylesheet" href="{% static 'css/profile_detail.css' %}">
        <link rel="stylesheet" href="{% static 'css/post_detail.css'' %}">
        <link rel="stylesheet" href="{% static 'css/profile_edit.css' %}">
        <link rel="stylesheet" href="{% static 'css/create_comment.css' %}">
        <link rel="stylesheet" href="{% static 'css/post_edit.css' %}">
        <link rel="stylesheet" href="{% static 'css/community_detail.css' %}">
        <link rel="stylesheet" href="{% static 'css/notification_index.css' %}">
        <link rel="stylesheet" href="{% static 'css/create_replay.css' %}">
        <link rel="icon" type="image/png" href="{% static 'img/android-icon-192x192.png' %}">
        {% block extra-begin-css %}
        {% endblock %}
        {% block extra-begin-script %}
        {% endblock %}
        <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    </head>
    <body>
        {% block header %}
        {% include 'compnents/header.html' %}
        {% endblock %}
        {% block main-content %}
        {% endblock %}
        {% block footer %}
        {% endblock %}
        {% block extra-after-script %}
        {% endblock %}
        <script src="{% static 'js/drop-down-menu.js' %}"></script>
        <script src="{% static 'js/image-preview.js' %}"></script>
        <script src="{% static 'js/header-new-image-preview.js' %}"></script>
        <script src="{% static 'js/thumbnail-new-image-preview.js' %}"></script>
    </body>

</html>