{% load static %}

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reddit</title>
        <link rel="stylesheet" href="{% static 'css/create_post.css' %}">
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
        <link rel="stylesheet" href="{% static 'css/create_community.css' %}">
        <link rel="stylesheet" href="{% static 'css/profile_detail.css' %}">
        <link rel="stylesheet" href="{% static 'css/post_detail.css'' %}">
        <link rel="stylesheet" href="{% static 'css/profile_edit.css' %}">
        <link rel="stylesheet" href="{% static 'css/create_comment.css' %}">
        <link rel="stylesheet" href="{% static 'css/post_edit.css' %}">
        <link rel="stylesheet" href="{% static 'css/community_detail.css' %}">
        <link rel="stylesheet" href="{% static 'css/notification_index.css' %}">
        <link rel="stylesheet" href="{% static 'css/create_replay.css' %}">
        <link rel="stylesheet" href="{% static 'css/chat_home.css' %}">
        <link rel="icon" type="image/jpeg" href="{% static 'img/android-icon-192x192.jpeg' %}">
        {% block opg_tags %}
        <meta property="og:title" content="Reddit" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ request.build_absolute_uri }}" />
        <meta property="og:image" content="{% static 'img/reddit_logo.jpeg' %}" />
        <meta property="og:description" content="インターネット掲示板" />
        {% endblock %}
        {% block extra-begin-css %}
        {% endblock %}
        {% block extra-begin-script %}
        {% endblock %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/js/all.min.js" integrity="sha512-u3fPA7V8qQmhBPNT5quvaXVa1mnnLSXUep5PS1qo5NRzHwG19aHmNJnj1Q8hpA/nBWZtZD4r4AX6YOt5ynLN2g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <body>
        {% block header %}
        {% include 'compnents/header.html' %}
        {% endblock %}
        {% block main-content %}
        {% endblock %}
        {% block footer %}
        {% endblock %}
        {% block extra-after-script %}
        {% endblock %}
        <script src="{% static 'js/drop-down-menu.js' %}"></script>
        <script src="{% static 'js/image-preview.js' %}"></script>
        <script src="{% static 'js/header-new-image-preview.js' %}"></script>
        <script src="{% static 'js/thumbnail-new-image-preview.js' %}"></script>
        <!-- TODO:チャットの重複送信を禁止するjsを実装する -->
        <script src="{% static 'js/ban-multiple-directmessage-submit.js' %}"></script>
    </body>

</html>