{% extends 'base.html' %}
{% load static %}
{% block main-content %}
<div class="news-posts-home-index">
    <div class="news-posts-all-list">
        {% for post in post_list %}
        <!-- data-voteにはログインユーザーが記事を投票した状態が入る -->
        <!-- upの場合 1, downの場合 -1,どちらでもない場合は空文字 -->
        <div class="news-posts-news-detail-box" data-vote="{{ post.vote_state|default:'' }}">
            <div class="news-posts-news-detail-box-left-menu">
                <a href="{% url 'news_posts:vote_up' post.id %}" onclick='return confirm("You can only vote once");'>
                    <i class="fas fa-arrow-up" style="width: 20px; height: 20px; margin-top: 2px; display: block; margin: auto;"></i>
                </a>
                <p class="vote-count">{{ post.vote }}</p>
                <a href="{% url 'news_posts:vote_down' post.id %}" onclick='return confirm("You can only vote once");'>
                    <i class="fas fa-arrow-down" style="width: 20px; height: 20px; margin-top: 2px; display: block; margin: auto;"></i>
                </a>
            </div>
            <div class="news-posts-news-detail-box-center-menu">
                <div class="posted-by-user-of-info-container">
                    <img class="posted-of-user-thumbnail" src="{% if post.user.thumbnail %}{{ post.user.thumbnail.url }}{% else %}{% static 'img/reddit_default_user_icon.jpeg' %}{% endif %}" alt="icon" />
                    <li class="posted-by-community-name-list">
                        {% if post.community is None %}
                        <a href="{% url 'users:detail' post.user.id %}">{{ post.user }}</a>
                        <span class="posted-by-user-name-span">{{ post.created_at|timesince }}</span>
                        {% else %}
                        <a href="{% url 'communities:detail' post.community.id %}">r/{{ post.community }}</a>
                        <a href="{% url 'users:detail' post.user.id %}"><span class="posted-by-user-name-span">Posted By {{ post.user }} {{ post.created_at|date:'n/j H:i' }}</span></a>
                        {% endif %}
                    </li>
                </div>
                <a href="{% url 'news_posts:post_detail' post.id %}"><li class="posted-title-string-list">{{ post.title|linebreaksbr }}</li></a>
                <li class="posted-content-string-list">{{ post.content|linebreaksbr|urlize }}</li>
                {% if post.post_photo %}
                <div class="posted-news-uploaded-photo-wrapper">
                    <img class="posted-news-uploaded-photo" src="{{ post.post_photo.url }}" alt="photo">
                </div>
                {% endif %}
                <ul class="posted-post-control-button-list">
                    <a class="posted-post-comment-button" href="{% url 'news_posts:create_comment' post.pk %}">
                        <li class="posted-post-control-button">
                            <i class="far fa-comment-alt" style="height: 20px; width: 20px;"></i>
                            <lable class="posted-post-control-button-label">Comments</label>
                        </li>
                    </a>
                    {% if post.user.id == user.id %}
                    <form class="posted-news-delete-form" method="POST" action="{% url 'news_posts:delete_post' post.pk %}">
                        {% csrf_token %}
                        <button class="posted-news-delete-button" type="submit" onclick='return confirm("Are you sure you want to delete your post? You cant undo this.");'>
                            <li class="posted-post-control-button">
                                <i class="far fa-trash-alt" style="height: 20px; width: 20px;"></i>
                                <lable class="posted-post-control-button-label">Delete</label>
                            </li>
                        </button>
                    </form>
                    {% else %}
                    <li class="posted-post-control-button">
                        <i class="fas fa-gift" style="height: 20px; width: 20px;"></i>
                        <lable class="posted-post-control-button-label">Award</label>
                    </li>
                    {% endif %}
                    <a href="https://twitter.com/share?url={{ request.scheme }}://{{ request.get_host }}{% url 'news_posts:post_detail' post.id %}" target="_blank" rel="nofollow">
                        <li class="posted-post-control-button">
                            <i class="fas fa-share" style="height: 20px; width: 20px;"></i>
                            <lable class="posted-post-control-button-label">Share</label>
                        </li>
                    </a>
                    {% if user.is_authenticated and post in saved_posts %}
                    <a href="{% url 'news_posts:unsave' post.id %}">
                        <li class="posted-post-control-button">
                            <i class="fas fa-bookmark" style="height: 20px; width: 20px;"></i>
                            <lable class="posted-post-control-button-label">UnSave</label>
                        </li>
                    </a>
                    {% else %}
                    <a href="{% url 'news_posts:save' post.id %}">
                        <li class="posted-post-control-button">
                            <i class="far fa-bookmark" style="height: 20px; width: 20px;"></i>
                            <lable class="posted-post-control-button-label">Save</label>
                        </li>
                    </a>
                    {% endif %}
                    {% if post.user.id == user.id %}
                    <a href="{% url 'news_posts:edit' post.id %}">
                        <li class="posted-post-control-button">
                            <i class="fas fa-pen" style="height: 20px; width: 20px;"></i>
                            <lable class="posted-post-control-button-label">Edit Post</label>
                        </li>
                    </a>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="communities-detail-box">
        <div class="communities-detail-box-row">
            <img src="{% static 'img/communities-list-header.jpeg' %}" alt="">
            {% for communities in communities_list %}
                <a href="{% url 'communities:detail' communities.pk %}"><li class="communities-detail-list">r/{{ communities.name }}</li></a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}