{% extends 'base.html' %}
{% load static %}
{% block main-content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login</title>
</head>
<body>
    <div class="login-container">
        <div class="login-img-container">
            <img src="{% static 'img/signup_img.jpeg' %}" class="login-img">
        </div>
        <div class="login-form">
            <h1 class="login-form-h2">Login</h1>
            <p class="Policy-text">
                By continuing, you agree to our <a class="Policy-sentence-url" href="https://www.redditinc.com/policies/user-agreement">User Agreement</a><br>
                and <a class="Policy-sentence-url" href="https://www.redditinc.com/policies/privacy-policy">Privacy Policy</a>.
            </p>
            <div class="linked-login-button">
                <img class="linked-login-button-img" src="{% static 'img/google_logo.jpeg' %}" alt="google">
                <p class="linked-login-button-text">CONTINUE WITH GOOGLE</p>
            </div>
            <div class="linked-login-button">
                <img class="linked-login-button-img" src="{% static 'img/apple_logo.jpeg' %}" alt="apple">
                <p class="linked-login-button-text">CONTINUE WITH APPLE</p>
            </div>
            <div class="login-catch">
                OR
            </div>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    {% if not field.name in remove_forms %}
                        <div>{{ field }}</div>
                    {% endif %}
                {% endfor %}
                <button type="submit" class="login-button">Log In</button>
            </form>
            <p>New to Reddit? <a class="SIGNUP-url" href="{% url 'users:signup' %}">SIGN UP</a></p>
        </div>
    </div>
</body>
</html>
{% endblock %}