{% extends 'base.html' %}
{% load static %}
{% block main-content %}

<div class="profile-detail-background-container">
    {% for userpost in userpost_list %}
    <div class="news-posts-news-detail-box">
        <div class="news-posts-news-detail-box-left-menu">
            <a href="{% url 'news_posts:vote_up' userpost.id %}" onclick='return confirm("You can only vote once");'>
                <i class="fas fa-arrow-up" style="width: 20px; height: 20px; margin-top: 2px; display: block; margin: auto;"></i>
            </a>
            <p class="vote-count">{{ userpost.vote }}</p>
            <a href="{% url 'news_posts:vote_down' userpost.id %}" onclick='return confirm("You can only vote once");'>
                <i class="fas fa-arrow-down" style="width: 20px; height: 20px; margin-top: 2px; display: block; margin: auto;"></i>
            </a>
        </div>
        <div class="news-posts-news-detail-box-center-menu">
            <div class="posted-by-user-of-info-container">
                <img class="posted-of-user-thumbnail" src="{% if userpost.user.thumbnail %}{{ userpost.user.thumbnail.url }}{% else %}{% static 'img/reddit_default_user_icon.png' %}{% endif %}" alt="icon" />
                <li class="posted-by-community-name-list">{% if userpost.community is None %}{{ userpost.user }} <span class="posted-by-user-name-span">{{ userpost.created_at|date:'n/j H:i' }}</span>{% else %}r/{{ userpost.community }} <span class="posted-by-user-name-span">Posted By {{ userpost.user }} {{ userpost.created_at|timesince }}</span> {% endif %}</li>
            </div>
            <a href="{% url 'news_posts:post_detail' userpost.id %}"><li class="posted-title-string-list">{{ userpost.title }}</li></a>
            <li class="posted-content-string-list">{{ userpost.content|linebreaksbr|urlize }}</li>
            {% if userpost.post_photo %}
            <div class="posted-news-uploaded-photo-wrapper">
                <img class="posted-news-uploaded-photo" src="{{ userpost.post_photo.url }}" alt="photo">
            </div>
            {% endif %}
            <ul class="posted-post-control-button-list">
                <a class="posted-post-comment-button" href="{% url 'news_posts:create_comment' userpost.pk %}">
                    <li class="posted-post-control-button">
                        <i class="far fa-comment-alt" style="height: 20px; width: 20px;"></i>
                        <lable class="posted-post-control-button-label">Comments</label>
                    </li>
                </a>
                <form class="posted-news-delete-form" method="POST" action="{% url 'news_posts:delete_user_post' userpost.id %}">
                    {% csrf_token %}
                    <button class="posted-news-delete-button" type="submit" onclick='return confirm("Are you sure you want to delete your post? You cant undo this.");'>
                        <li class="posted-post-control-button">
                            <i class="far fa-trash-alt" style="height: 20px; width: 20px;"></i>
                            <lable class="posted-post-control-button-label">Delete</label>
                        </li>
                    </button>
                </form>
                <li class="posted-post-control-button">
                    <i class="fas fa-share" style="height: 20px; width: 20px;"></i>
                    <lable class="posted-post-control-button-label">Share</label>
                </li>
                <li class="posted-post-control-button">
                    <i class="far fa-bookmark" style="height: 20px; width: 20px;"></i>
                    <lable class="posted-post-control-button-label">Save</label>
                </li>
                <li class="posted-post-control-button">
                    <a href="{% url 'news_posts:edit' userpost.id %}">
                        <i class="fas fa-pen" style="height: 20px; width: 20px;"></i>
                        <lable class="posted-post-control-button-label">Edit Post</label>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    {% endfor %}
    <div class="profile-detail-right-background-container">
        <div class="profile-detail-container-for-profile-detail-html">
            <div class="profile-all-image-container">
                <img class="profile-header-img" src="{% if user.header %}{{ user.header.url }}{% else %}{% static 'img/default_user_header.png' %}{% endif %}" alt="header" />
                <div class="profile-thumbnail-icon-wrapper">
                    <img class="profile-thumbnail-icon-img" src="{% if user.thumbnail %}{{ user.thumbnail.url }}{% else %}{% static 'img/reddit_default_user_icon.png' %}{% endif %}" alt="icon" />
                </div>
            </div>
            <div class="profile-username-and-config-button-container">
                <div class="profile-detail-user-name-box"><p class="profile-detail-user-name">{{ user.username }}</p></div>
                <a href="{% url 'users:edit' %}"><i class="fas fa-cog" style="margin-top: 10px;"></i></a>
            </div>
            <div class="profile-detail-user-about-container">
                <p class="profile-detail-user-about">{% if user.about %}{{ user.about }}{% else %}My name is {{ user.username }}{% endif %}</p>
            </div>
        </div>
        <div class="communities-detail-box-for-profile-detail-html">
            <div class="communities-detail-box-row-for-profile-detail-html">
                <p class="communities-detail-box-joined-communities-heading">joined communities</p>
                {% for communities in communities_list %}
                <a href="{% url 'communities:detail' communities.pk %}"><li class="communities-detail-list-for-profile-detail-html">r/{{ communities }}</li></a>                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock %}