{% extends 'base.html' %}
{% load static %}
{% block main-content %}
<div class="profile-edit-big-container">
    <div class="profile-edit-container">
        <h3 class="profile-edit-user-settings-heading">User settings</h3>
        <h2 class="profile-edit-customize-profile-heading">Customize profile</h2>
        <form class="profile-edit-customize-profile-form" method="POST" action="{% url 'users:edit' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <h3 class="profile-edit-smallest-heading">PROFILE INFORMATION</h3>
            <h3 class="profile-edit-option-title">Display name(optional)</h3>
            <p class="profile-edit-help-text">Set a display name. This does not change your username.</p>
            {{ form.username }} <!-- class="profile-edit-new-name-input-textarea" -->
            <p class="profile-edit-help-text">20 Characters remaining</p>
            <h3 class="profile-edit-option-title">About (optional)</h3>
            <p class="profile-edit-help-text">A brief description of yourself shown on your profile.</p>
            {{ form.about }} <!-- profile-edit-new-user-about-input-textarea -->
            <p class="profile-edit-help-text">200 Characters remaining</p>
            <h3 class="profile-edit-smallest-heading">IMAGES</h3>
            <h3 class="profile-edit-option-title">Avatar and banner image</h3>
            <p class="profile-edit-help-text">Images must be .png or .jpg format</p>
            <div class="profile-edit-profile-image-upload-container">
                <label class="profile-edit-profile-image-upload-field" for="profile-edit-input-new-thumbnial-image-id">
                    <img class="profile-edit-profile-before-image" src="{% if user.thumbnail %}{{ user.thumbnail.url }}{% else %}{% static 'img/reddit_default_user_icon.jpeg' %}{% endif %}" alt="icon" id="preview_new_thumbnail">
                    <input type="file" class="profile-edit-input-new-image" name="photo" id="profile-edit-input-new-thumbnial-image-id" accept='image/*'>
                </label>
                <label class="profile-edit-profile-image-upload-field" for="profile-edit-input-new-header-image-id">
                    <img class="profile-edit-profile-before-image" src="{% if user.header %}{{ user.header.url }}{% else %}{% static 'img/default_user_header.jpeg' %}{% endif %}" alt="header" id="preview_new_header">
                    <input type="file" class="profile-edit-input-new-image" name="header_photo" id="profile-edit-input-new-header-image-id" accept='image/*'>
                </label>
            </div>
            <button class="profile-edited-data-save-button" type="submit">Save</button>
        </form>
    </div>
</div>

{% endblock %}