{% extends 'base.html' %}
{% load static %}
{% block main-content %}
<div class="profile-detail-top-menu">
    <ul class="profile-detail-top-menu-list-items">
        <a class="profile-detail-top-menu-list-item-url" href="{% url 'users:detail' user.id %}"><li class="profile-detail-top-menu-item">POSTS</li></a>
        <a class="profile-detail-top-menu-list-item-url" href="{% url 'users:comments' user.id %}"><li class="profile-detail-top-menu-item">COMMENTS</li></a>
        <a class="profile-detail-top-menu-list-item-url" href="{% url 'users:saved_posts' user.id %}"><li class="profile-detail-top-menu-displaying-item">SAVED</li></a>
        <a class="profile-detail-top-menu-list-item-url" href="{% url 'users:up_voted_posts' user.id %}"><li class="profile-detail-top-menu-item">UPVOTED</li></a>
        <a class="profile-detail-top-menu-list-item-url" href="{% url 'users:down_voted_posts' user.id %}"><li class="profile-detail-top-menu-item">DOWNVOTED</li></a>
        <a class="profile-detail-top-menu-list-item-url" href=""><li class="profile-detail-top-menu-item">AWARDS RECEIVED</li></a>
        <a class="profile-detail-top-menu-list-item-url" href=""><li class="profile-detail-top-menu-item">AWARDS GIVEN</li></a>
    </ul>
</div>
<div class="profile-detail-background-container">
    {% for post in saved_posts reversed %}
    <div class="news-posts-news-detail-box">
        <div class="news-posts-news-detail-box-left-menu">
            <a href="{% url 'news_posts:vote_up' post.id %}" onclick='return confirm("You can only vote once");'>
                <i class="fas fa-arrow-up" style="width: 20px; height: 20px; margin-top: 2px; display: block; margin: auto;"></i>
            </a>
            <p class="vote-count">{{ post.vote }}</p>
            <a href="{% url 'news_posts:vote_down' post.id %}" onclick='return confirm("You can only vote once");'>
                <i class="fas fa-arrow-down" style="width: 20px; height: 20px; margin-top: 2px; display: block; margin: auto;"></i>
            </a>
        </div>
        <div class="news-posts-news-detail-box-center-menu">
            <div class="posted-by-user-of-info-container">
                <img class="posted-of-user-thumbnail" src="{% if post.user.thumbnail %}{{ post.user.thumbnail.url }}{% else %}{% static 'img/reddit_default_user_icon.jpeg' %}{% endif %}" alt="icon" />
                <li class="posted-by-community-name-list">
                    {% if post.community is None %}
                    <a href="{% url 'users:detail' post.user.id %}">{{ post.user }}</a>
                    <span class="posted-by-user-name-span">{{ post.created_at|date:'n/j H:i' }}</span>
                    {% else %}
                    <a href="{% url 'communities:detail' post.community.id %}">r/{{ post.community }}</a>
                    <span class="posted-by-user-name-span">Posted By <a href="{% url 'users:detail' post.user.id %}">{{ post.user }}</a> {{ post.created_at|timesince }}</span>
                    {% endif %}
                </li>
            </div>
            <a href="{% url 'news_posts:post_detail' post.id %}"><li class="posted-title-string-list">{{ post.title }}</li></a>
            <li class="posted-content-string-list">{{ post.content|linebreaksbr|urlize }}</li>
            {% if post.post_photo %}
            <div class="posted-news-uploaded-photo-wrapper">
                <img class="posted-news-uploaded-photo" src="{{ post.post_photo.url }}" alt="photo">
            </div>
            {% endif %}
            <ul class="posted-post-control-button-list">
                <a class="posted-post-comment-button" href="{% url 'news_posts:create_comment' post.pk %}">
                    <li class="posted-post-control-button">
                        <i class="far fa-comment-alt" style="height: 20px; width: 20px;"></i>
                        <lable class="posted-post-control-button-label">Comments</label>
                    </li>
                </a>
                {% if post.user.id == request.user.id %}
                <form class="posted-news-delete-form" method="POST" action="{% url 'news_posts:delete_user_post' post.id %}">
                    {% csrf_token %}
                    <button class="posted-news-delete-button" type="submit" onclick='return confirm("Are you sure you want to delete your post? You cant undo this.");'>
                        <li class="posted-post-control-button">
                            <i class="far fa-trash-alt" style="height: 20px; width: 20px;"></i>
                            <lable class="posted-post-control-button-label">Delete</label>
                        </li>
                    </button>
                </form>
                {% else %}
                <li class="posted-post-control-button">
                    <i class="fas fa-gift" style="height: 20px; width: 20px;"></i>
                    <lable class="posted-post-control-button-label">Award</label>
                </li>
                {% endif %}
                <a href="{% url 'news_posts:share' post.id %}">
                    <li class="posted-post-control-button">
                        <i class="fas fa-share" style="height: 20px; width: 20px;"></i>
                        <lable class="posted-post-control-button-label">Share</label>
                    </li>
                </a>
                {% if post in saved_posts %}
                <a href="{% url 'news_posts:unsave' post.id %}">
                    <li class="posted-post-control-button">
                        <i class="fas fa-bookmark" style="height: 20px; width: 20px;"></i>
                        <lable class="posted-post-control-button-label">UnSave</label>
                    </li>
                </a>
                {% else %}
                <a href="{% url 'news_posts:save' post.id %}">
                    <li class="posted-post-control-button">
                        <i class="far fa-bookmark" style="height: 20px; width: 20px;"></i>
                        <lable class="posted-post-control-button-label">Save</label>
                    </li>
                </a>
                {% endif %}
                {% if post.user.id == request.user.id %}
                <li class="posted-post-control-button">
                    <a href="{% url 'news_posts:edit' post.id %}">
                        <i class="fas fa-pen" style="height: 20px; width: 20px;"></i>
                        <lable class="posted-post-control-button-label">Edit Post</label>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% endfor %}
    <div class="profile-detail-right-background-container">
        <div class="profile-detail-container-for-profile-detail-html">
            <div class="profile-all-image-container">
                <img class="profile-header-img" src="{% if user.header %}{{ user.header.url }}{% else %}{% static 'img/default_user_header.jpeg' %}{% endif %}" alt="header" />
                <div class="profile-thumbnail-icon-wrapper">
                    <img class="profile-thumbnail-icon-img" src="{% if user.thumbnail %}{{ user.thumbnail.url }}{% else %}{% static 'img/reddit_default_user_icon.jpeg' %}{% endif %}" alt="icon" />
                </div>
            </div>
            <div class="profile-username-and-config-button-container">
                <div class="profile-detail-user-name-box"><p class="profile-detail-user-name">{{ user.username }}</p></div>
                {% if user.id == request.user.id %}
                <a href="{% url 'users:edit' %}"><i class="fas fa-cog" style="margin-top: 10px;"></i></a>
                {% endif %}
            </div>
            <div class="profile-detail-user-about-container">
                <p class="profile-detail-user-about">{% if user.about %}{{ user.about }}{% else %}My name is {{ user.username }}{% endif %}</p>
            </div>
        </div>
        <div class="communities-detail-box-for-profile-detail-html">
            <div class="communities-detail-box-row-for-profile-detail-html">
                <p class="communities-detail-box-joined-communities-heading">joined communities</p>
                {% for communities in communities_list %}
                <a href="{% url 'communities:detail' communities.pk %}"><li class="communities-detail-list-for-profile-detail-html">r/{{ communities }}</li></a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock %}